
/* everything is inside a wrapper to control the width */

.wrapper {
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;

    padding-right: 1rem;
    padding-left: 1rem;

    background-color: #D4E8E7;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: normal;
    color: black;

    background-color: #A9D4CF;
}

/* The heading is centred inside a hero image */

h1 {
    font-size: 2.5rem;
    color: white;

    position: absolute;
    top: 33%;
    width: 100%;
    text-align: center;
}

header {
    position: relative;
    max-width: 800px;
}

header img {
    width: 100%;
}

/* The navigation menu is displayed in a horizontal line */

nav {
    display: inline;
}

nav ul li {
    display: inline-block;
    width: 33%;
    height: 10px;
    float: left;
    text-align: center;

    padding: 15px 0px 15px 0px;

    margin-top: 15px;
    margin-bottom: 15px;
}

nav ul li a {
    font-size: 1.2rem;
    color: black;

    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
}

/* The menu items are separated with a black vertical line */

nav ul li:first-child, nav ul li:nth-child(2) {
    border-right: 1px solid black;
}

/* Clearfix helps elements not being displayed in float */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  
h2 {
    font-size: 1.5rem;
    font-weight: 100;
}

/* The article text is wrapping the image to the left */

article {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }

article img {
    float: left;

    max-width: 33%;
    padding: 15px 15px 15px 0;
  }

/* Below the information there is a list of facts using bulletpoints */

h3 {
    font-size: 1.25rem;
    font-weight: 100;
}

article ul li {
    list-style:disc;

}

/* Contact form wrapped in a black border line */

form {
    border-style: solid ;
    border-width: 1px;
    padding: 20px;
}

label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input[type=text] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
button {
    border: 1px solid black;
    background-color: #D4E8E7;

    text-transform: uppercase;
    display: inline-block;

    padding: 15px;
    margin-top: 15px;
}

/* Copyright information at the bottom of the page */

footer p {
    text-align: right;
    padding: 10px 0 30px 0;
}